# Basic Problems:

## 1. Variable Swap

In [1]:
x = 10
y = 50
temp = x
x = y
y = temp

print("Value of x:", x)
print("Value of y:", y)

Value of x: 50
Value of y: 10

## 2. Even or Odd

In [2]:
x = 24 
# Check the remainder dividing x by 2 is 0
if x % 2 == 0:
    print("Even")
else:
    print("Odd")

# Checking another number    
x = 7

if x % 2 == 0:

  print("Even")
else:
    print("Odd")

Even
Odd

## 3. String Reverse

In [3]:
def reverse_function(x):
  return x[::-1]

mytxt = reverse_function("Strings Reverse In Python")

print(mytxt)

nohtyP nI esreveR sgnirtS

## 4. Type Conversion

In [4]:
n = 42

# Convert integer to string
s = str(n)

print(s)

42

## 5. Temperature Converter

In [5]:
# Temperature in celsius degree
celsius = 47

# Converting the temperature to
# fehrenheit using the formula
fahrenheit = (celsius * 1.8) + 32

# printing the result
print('%.2f Celsius is equivalent to: %.2f Fahrenheit'
	% (celsius, fahrenheit))

47.00 Celsius is equivalent to: 116.60 Fahrenheit

## 6. Data Type Checker:

In [6]:
x = 5
print(type(x))

y = "Hello"
print(type(y))

z = 5.8
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

## 7. String Palindrome:

In [7]:
# function which return reverse of a string

def isPalindrome(s):
    return s == s[::-1]


# Driver code
s = "malayalam"
ans = isPalindrome(s)

if ans:
    print("Yes")
else:
    print("No")

Yes

## 8. String Reversal with Slicing:

In [8]:
def reverse_function(x):
  return x[::-1] # slicing the text

mytxt = reverse_function("Strings Reverse In Python")

print(mytxt)

nohtyP nI esreveR sgnirtS

## 9. String Concatenation:

In [9]:
s1 = "Hello"
s2 = "World"
res = s1 + " " + s2
print(res)

Hello World

## 10. Typecasting Challenge:

In [10]:
a = '100'
b= 50
c='10.5'
s = int(a)
s2 = float(c)
add= s+b-s2

print(add)

139.5

# Python Conditional Statements:

## 11. Positive, Negative, or Zero:

In [11]:
n=-3
x=["The number is Positive" if n>0 else "The number is Negative" if n<0 else "zero" ]
print(x)

['The number is Negative']

## 12. Largest of Three Numbers

In [12]:
a = 5
b = 6
c= 7
print(max(a, b, c))

7

## 13. Leap Year Checker:

In [13]:
def is_leap_year_modulo(year):
    return (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)

# Example
year_to_check = 2024
result_modulo = is_leap_year_modulo(year_to_check)
print(f"{year_to_check} is a leap year: {result_modulo}")

2024 is a leap year: True

## 14. Grades Classification:

In [15]:
def determine_grade(scores):
    if scores >= 90 and scores <= 100:
        return 'A'
        print(scores)
    elif scores >= 80 and scores <= 89:
        return 'B'
        print(scores)
    elif scores >= 70 and scores <= 79:
        return 'C'
        print(scores)
    elif scores >= 60 and scores <= 69:
        return 'D'
        print(scores)
    elif scores >= 50 and scores <= 59:
        return 'E'
        print(scores)
    else:
        return 'F'
        print(scores)

## 15. Vowel or Consonant:

In [16]:

def vowelOrConsonant(x): 

	if (x == 'a' or x == 'e' or
		x == 'i' or x == 'o' or x == 'u'): 
		print("Vowel") 
	else: 
		print("Consonant") 

# Driver code 
vowelOrConsonant('c') 
vowelOrConsonant('e')

Consonant
Vowel

## 16. Time Classification:

In [17]:
import datetime
now = datetime.datetime.now()
hour = now.hour

if hour < 12:
    greeting = "Good morning"
elif hour < 18:
    greeting = "Good afternoon"
else:
    greeting = "Good night"

print("{}!".format(greeting))

Good morning!

## 17. Triangle Type Checker:

In [18]:
# Function definition to check validity
def is_valid_triangle(a,b,c):
    if a+b>=c and b+c>=a and c+a>=b:
        return True
    else:
        return False

# Function definition for type
def type_of_triangle(a,b,c):
    if a==b and b==c:
        print('Triangle is Equilateral.')
    elif a==b or b==c or a==c:
        print('Triangle is Isosceles.')
    else:
        print('Triangle is Scalane')

# Reading Three Sides
side_a = float(input('Enter length of side a: '))
side_b = float(input('Enter length of side b: '))
side_c = float(input('Enter length of side c: '))

# Function call & making decision
if is_valid_triangle(side_a, side_b, side_c):
    type_of_triangle(side_a, side_b, side_c)
else:
    print('Tringle is not possible from given sides.')

Enter length of side a:  1
Enter length of side b:  2
Enter length of side c:  3

Triangle is Scalane

## 18. Quadratic Equation Solver:

In [1]:
import cmath

a = 1
b = 5
c = 6

# calculate the discriminant
d = (b**2) - (4*a*c)

# find two solutions
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)

print('The solution are {0} and {1}'.format(sol1,sol2))

The solution are (-3+0j) and (-2+0j)

## 19. Number Ranges:

In [19]:
# Python program to count the 
# number of numbers in a given range
# using traversal and multiple line code

def count(list1, l, r):
	c = 0
	# traverse in the list1
	for x in list1:
		# condition check
		if x>= l and x<= r:
			c+= 1
	return c
	
# driver code
list1 = [10, 20, 30, 40, 50, 40, 40, 60, 70]
l = 40
r = 80
print (count(list1, l, r))

6

# For & While Loops:

## 20. Sum of N Numbers:

In [20]:
# Sum of natural numbers up to num

num = 16

if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   # use while loop to iterate until zero
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is", sum)

The sum is 136

## 21. Factorial Calculator:

In [21]:
# Input: An integer number
num = 6

# Initialize the factorial variable to 1
factorial = 1

# Calculate the factorial using a for loop
for i in range(1, num + 1):
    factorial *= i

# Output: The factorial of the number
print(f"The factorial of {num} is {factorial}")

The factorial of 6 is 720

## 22. Table of a Number:

In [22]:
x = int(input("Enter the number for the multiplication table: "))
y = int(input("Enter the number of rows for the multiplication table: "))

for i in range(1, y + 1):
    result = x * i
    print(f"{x} * {i} = {result}")
    if i >= 20:
        print("The number of rows has been limited to 20.")
        break
else:
    if y > 20:
        print("The number of rows has been limited to 20.")

Enter the number for the multiplication table:  2
Enter the number of rows for the multiplication table:  1

2 * 1 = 2

## 23. Count Digits in a Number:

In [23]:
num = 3452
count = 0

while num != 0:
    num //= 10
    count += 1

print("Number of digits: " + str(count))

Number of digits: 4

## 24. Fibonacci Sequence:

In [24]:
def fib(n): 
    f = [0, 1] 
  
    for i in range(2, n): 
        f.append(f[i -1] + f[i-2]) 
    return f 
     
num = int(input("Enter number : ")) 
print(*fib(num))

Enter number :  1

0 1

## 25. Sum of Even Numbers:

In [25]:
num = int(input('Enter a number: '))
sum = 0
i = 0
while i <= num:
    if i % 2 == 0:
        print(i)
        sum+=i
    i+=1
print(f"Sum of all the even numbers is {sum}")

Enter a number:  2

0
2
Sum of all the even numbers is 2

## 26. Print Patterns:

In [27]:
# Function to print full pyramid pattern
def full_pyramid(n):
    for i in range(1, n + 1):
        # Print leading spaces
        for j in range(n - i):
            print(" ", end="")
        
        # Print asterisks for the current row
        for k in range(1, 2*i):
            print("*", end="")
        print()
   
full_pyramid(5)

    *
   ***
  *****
 *******
*********

## 27. Prime Number Checker:

In [28]:
num = 11
# Negative numbers, 0 and 1 are not primes
if num > 1:
  
    # Iterate from 2 to n // 2
    for i in range(2, (num//2)+1):
      
        # If num is divisible by any number between
        # 2 and n / 2, it is not prime
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

11 is a prime number

## 28. List Manipulation:

In [29]:
# Python program to find the sum
# and average of the list

L = [4, 5, 1, 2, 9, 7, 10, 8]


# variable to store the sum of
# the list
count = 0

# Finding the sum
for i in L:
	count += i

# divide the total elements by
# number of elements
avg = count/len(L)

print("sum = ", count)
print("average = ", avg)

sum =  46
average =  5.75

## 29. Reverse String:

In [30]:
s = "GeeksforGeeks"
rev = s[::-1]
print(rev)

skeeGrofskeeG

# Nested Loops:

## 30. Multiplication Table:

In [35]:
for i in range(1, 10):
    for j in range(1, 10):
        print ('{:02}'.format(i),'X','{:02}'.format(j),'=','{:02}'.format(i*j))

01 X 01 = 01
01 X 02 = 02
01 X 03 = 03
01 X 04 = 04
01 X 05 = 05
01 X 06 = 06
01 X 07 = 07
01 X 08 = 08
01 X 09 = 09
02 X 01 = 02
02 X 02 = 04
02 X 03 = 06
02 X 04 = 08
02 X 05 = 10
02 X 06 = 12
02 X 07 = 14
02 X 08 = 16
02 X 09 = 18
03 X 01 = 03
03 X 02 = 06
03 X 03 = 09
03 X 04 = 12
03 X 05 = 15
03 X 06 = 18
03 X 07 = 21
03 X 08 = 24
03 X 09 = 27
04 X 01 = 04
04 X 02 = 08
04 X 03 = 12
04 X 04 = 16
04 X 05 = 20
04 X 06 = 24
04 X 07 = 28
04 X 08 = 32
04 X 09 = 36
05 X 01 = 05
05 X 02 = 10
05 X 03 = 15
05 X 04 = 20
05 X 05 = 25
05 X 06 = 30
05 X 07 = 35
05 X 08 = 40
05 X 09 = 45
06 X 01 = 06
06 X 02 = 12
06 X 03 = 18
06 X 04 = 24
06 X 05 = 30
06 X 06 = 36
06 X 07 = 42
06 X 08 = 48
06 X 09 = 54
07 X 01 = 07
07 X 02 = 14
07 X 03 = 21
07 X 04 = 28
07 X 05 = 35
07 X 06 = 42
07 X 07 = 49
07 X 08 = 56
07 X 09 = 63
08 X 01 = 08
08 X 02 = 16
08 X 03 = 24
08 X 04 = 32
08 X 05 = 40
08 X 06 = 48
08 X 07 = 56
08 X 08 = 64
08 X 09 = 72
09 X 01 = 09
09 X 02 = 18
09 X 03 = 27
09 X 04 = 36
09 X 05 = 45
09 X 06 = 54
09 X 07 = 63
09 X 08 = 72
09 X 09 = 81

## 31. Print Patterns:

In [36]:
# Function to print full pyramid pattern
def full_pyramid(n):
    for i in range(1, n + 1):
        # Print leading spaces
        for j in range(n - i):
            print(" ", end="")
        
        # Print asterisks for the current row
        for k in range(1, 2*i):
            print("*", end="")
        print()
   
full_pyramid(5)

    *
   ***
  *****
 *******
*********

## 32. Matrix Multiplication:

In [37]:
matrix_a = [[1, 2], [3, 4]]
matrix_b = [[5, 6], [7, 8]]

result = [[0, 0], [0, 0]]

for i in range(2):
    for j in range(2):
        result[i][j] = (matrix_a[i][0] * matrix_b[0][j] +
                        matrix_a[i][1] * matrix_b[1][j])

for row in result:
    print(row)

[19, 22]
[43, 50]

## 33. Chessboard Pattern:

In [38]:
import numpy as np

# function to print Checkerboard pattern
def printcheckerboard(n):
    print("Checkerboard pattern:")

    # create a n * n matrix
    x = np.zeros((n, n), dtype=int)

    # fill with 1 the alternate cells in rows and columns
    x[1::2, ::2] = 1
    x[::2, 1::2] = 1

    # print the pattern
    for i in range(n):
        for j in range(n):
            print(x[i][j], end=" ")
        print()

# driver code
n = 8
printcheckerboard(n)

Checkerboard pattern:
0 1 0 1 0 1 0 1
1 0 1 0 1 0 1 0
0 1 0 1 0 1 0 1
1 0 1 0 1 0 1 0
0 1 0 1 0 1 0 1
1 0 1 0 1 0 1 0
0 1 0 1 0 1 0 1
1 0 1 0 1 0 1 0

# List Problems:


## 34. List Sum:

In [40]:
a = [10, 20, 30, 40]

# Initialize a variable to hold the sum
res = 0

# Loop through each value in the list
for val in a:
  
    # Add the current value to the sum
    res += val

print(res)

100

## 35. List Average:

In [42]:
a = [2, 4, 6, 8, 10]

# Initialize total sum to zero
total_sum = 0

# Iterate over each element in list
# and accumulate sum
for val in a:
    total_sum += val

# Calculate average by dividing total sum
# by length of list
avg = total_sum / len(a)

print(avg)

6.0

## 36. List Max and Min:

In [43]:

test_list1 = [1, 3, 4, 5, 2, 6]
test_list2 = [3, 4, 8, 3, 10, 1]

# printing the original lists
print ("The original list 1 is : " + str(test_list1))
print ("The original list 2 is : " + str(test_list2))

# using max() + min() + "+" operator
# maximum and minimum values in two lists 
max_all = max(test_list1 + test_list2)
min_all = min(test_list1 + test_list2)

# printing result
print ("The maximum of both lists is : " + str(max_all))
print ("The minimum of both lists is : " + str(min_all))

The original list 1 is : [1, 3, 4, 5, 2, 6]
The original list 2 is : [3, 4, 8, 3, 10, 1]
The maximum of both lists is : 10
The minimum of both lists is : 1

## 37. List Sorting:

In [44]:
a = [5, 2, 9, 1, 5, 6]

# Sort the value in increasing order
a.sort()
print(a)

[1, 2, 5, 5, 6, 9]

## 38. List Filtering:

In [45]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Create a list of even numbers using list comprehension
res = [val for val in a if val % 2 == 0]
print(res)

[2, 4, 6, 8, 10]

## 39. List Reversal:

In [46]:
a = [1, 2, 3, 4, 5]

# Reverse the list in-place
a.reverse()
print(a)

[5, 4, 3, 2, 1]

## 40. List Manipulation:

In [47]:
a = [1, 2, 3, 4, 5]
b = [4, 5, 6, 7, 8]

# Find common elements using set intersection
common = list(set(a) & set(b))

print(common)

[4, 5]

## 41. List Element Count:

In [48]:
a = [1, 3, 2, 6, 3, 2, 8, 2, 9, 2, 7, 3]

# Count occurrences of 2
print(a.count(2))

# Count occurrences of 3
print(a.count(3))

4
3

## 42. List Duplicates Removal:

In [49]:
a = [1, 2, 2, 3, 4, 4, 5]

b = list(dict.fromkeys(a))
print(b)

[1, 2, 3, 4, 5]

## 43. List Comprehension:

In [50]:
# create a list with 7 integer elements
data=[1,2,3,4,5,6,7]

# use list comprehension to get square
# of odd numbers
result = [i*i for i in data if i%2!=0]

# display the result
print(result)

[1, 9, 25, 49]

# Nested List Problems:


## 44. Matrix Addition:

In [52]:
# Program to add two matrices
# using list comprehension

X = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]

Y = [[9, 8, 7],
     [6, 5, 4],
     [3, 2, 1]]

result = [[X[i][j] + Y[i][j] for j in range
           (len(X[0]))] for i in range(len(X))]

for r in result:
    print(r)

[10, 10, 10]
[10, 10, 10]
[10, 10, 10]

## 45. Flatten Nested List:

In [53]:
# Original list
lis = [[11, 22, 33, 44], [55, 66, 77], [88, 99, 100]]

# iterate through the sublist using List comprehension
flatList = [element for innerList in lis for element in innerList]

# printing original list
print('List', lis)
# printing flat list
print('Flat List', flatList)

List [[11, 22, 33, 44], [55, 66, 77], [88, 99, 100]]
Flat List [11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

## 46. List Element Frequency:

In [54]:

test_list1 = [4, 6, 8, 9, 10]
test_list2 = [4, 6, 6, 5, 8, 10, 4, 9, 8, 10, 1]

# printing original lists
print("The original list 1 : " + str(test_list1))
print("The original list 2 : " + str(test_list2))

res = {key: test_list2.count(key) for key in test_list1}

# printing result
print("Lists elements Frequency : " + str(res))

The original list 1 : [4, 6, 8, 9, 10]
The original list 2 : [4, 6, 6, 5, 8, 10, 4, 9, 8, 10, 1]
Lists elements Frequency : {4: 2, 6: 2, 8: 2, 9: 1, 10: 2}

## 47. Transpose Matrix:

In [55]:
# Program to transpose a matrix using a nested loop

X = [[12,7],
    [4 ,5],
    [3 ,8]]

result = [[0,0,0],
         [0,0,0]]

# iterate through rows
for i in range(len(X)):
   # iterate through columns
   for j in range(len(X[0])):
       result[j][i] = X[i][j]

for r in result:
   print(r)

[12, 4, 3]
[7, 5, 8]

## 48. List of Lists Concatenation:

In [56]:
def flat(lis):
	flatList = []
	# Iterate with outer list
	for element in lis:
		if type(element) is list:
			# Check if type is list than iterate through the sublist
			for item in element:
				flatList.append(item)
		else:
			flatList.append(element)
	return flatList


lis = [[11, 22, 33, 44], [55, 66, 77], [88, 99, 100]]
print('List', lis)
print('Flat List', flat(lis))

List [[11, 22, 33, 44], [55, 66, 77], [88, 99, 100]]
Flat List [11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

# Tuple Problems:


## 49. Tuple Concatenation:

In [58]:

test_tup1 = (1, 3, 5)
test_tup2 = (4, 6)

# printing original tuples
print("The original tuple 1 : " + str(test_tup1))
print("The original tuple 2 : " + str(test_tup2))

res = test_tup1 + test_tup2

# printing result
print("The tuple after concatenation is : " + str(res))

The original tuple 1 : (1, 3, 5)
The original tuple 2 : (4, 6)
The tuple after concatenation is : (1, 3, 5, 4, 6)

## 50. Tuple Unpacking:

In [59]:

a = ("MNNIT Allahabad", 5000, "Engineering") 

(college, student, type_ofcollege) = a 

# print college name
print(college)

# print no of student
print(student)

# print type of college
print(type_ofcollege)

MNNIT Allahabad
5000
Engineering

## 51. Tuple Sorting:

In [60]:

def last(n):
	return n[m] 

# function to sort the tuple 
def sort(tuples):

	
	return sorted(tuples, key = last)

# driver code 
a = [(23, 45, 20), (25, 44, 39), (89, 40, 23)]
m = 2
print("Sorted:"),
print(sort(a))

Sorted:
[(23, 45, 20), (89, 40, 23), (25, 44, 39)]

## 52. Tuple Frequency Count:

In [61]:

from collections import defaultdict

# initializing tuple
test_tup = (4, 5, 4, 5, 6, 6, 5, 5, 4)

# printing original tuple
print("The original tuple is : " + str(test_tup))

res = defaultdict(int)
for ele in test_tup:
	
	# incrementing frequency
	res[ele] += 1

# printing result 
print("Tuple elements frequency is : " + str(dict(res)))

The original tuple is : (4, 5, 4, 5, 6, 6, 5, 5, 4)
Tuple elements frequency is : {4: 3, 5: 4, 6: 2}

## 53. Tuple to List:

In [64]:
# Define a tuple
a = (1, 2, 3)

# Convert the tuple to a list
b = list(a)
print(b)

[1, 2, 3]

## 54. Tuple Reversal:

In [65]:

def Reverse(tuples):
	new_tup = tuples[::-1]
	return new_tup
	
# Driver Code
tuples = ('z','a','d','f','g','e','e','k')
print(Reverse(tuples))

('k', 'e', 'e', 'g', 'f', 'd', 'a', 'z')

## 55. Tuple Slicing:

In [66]:
# Sample List of Tuples
list_of_tuples = [(1, 'apple'), (2, 'banana'), (3, 'cherry'), (4, 'date')]

# Basic Slicing
sliced_result = list_of_tuples[1:3]
print(sliced_result)

[(2, 'banana'), (3, 'cherry')]

## 56. Tuple Operations:

In [69]:

test_tup1 = (10, 4, 5, 6)
test_tup2 = (5, 6, 7, 5)

res = tuple(ele1 * ele2 for ele1, ele2 in zip(test_tup1, test_tup2))

# printing result
print("The multiplied tuple : " + str(res))





# initialize tuples 
test_tupx = (10, 4, 5)
test_tupy = (2, 5, 18)

res = tuple(map(lambda i, j: i + j, test_tupx, test_tupy))

# printing result
print("Resultant tuple after addition : " + str(res))



# initialize tuples 
test_tupxx = (10, 4, 5)
test_tupyy = (2, 5, 18)

res = tuple(map(lambda i, j: i - j, test_tupxx, test_tupyy))

# printing result
print("Resultant tuple after Substraction : " + str(res))

The multiplied tuple : (50, 24, 35, 30)
Resultant tuple after addition : (12, 9, 23)
Resultant tuple after Substraction : (8, -1, -13)

## 57. Tuple Membership Test:

In [70]:

test_tup = (10, 4, 5, 6, 8)

# printing original tuple
print("The original tuple : " + str(test_tup))

# initialize N
N = 6

res = N in test_tup

# printing result
print("Does tuple contain required value ? : " + str(res))

The original tuple : (10, 4, 5, 6, 8)
Does tuple contain required value ? : True

## 58. Tuple Packing:

In [1]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

# Nested List Problems


## 59. Nested List Element Access:

In [2]:
my_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
result = [sublist[1] for sublist in my_list]
print(result)

[2, 5, 8]

## 60. Nested List Flattening:

In [3]:
# Original list
lis = [[11, 22, 33, 44], [55, 66, 77], [88, 99, 100]]

# iterate through the sublist using List comprehension
flatList = [element for innerList in lis for element in innerList]

# printing original list
print('List', lis)
# printing flat list
print('Flat List', flatList)

List [[11, 22, 33, 44], [55, 66, 77], [88, 99, 100]]
Flat List [11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

## 61. Nested List Sorting:

In [4]:
n = [[6, 2], [9, 5], [3, 7], [1, 8]]
# flatten list and sort
f = sorted(i for l in n for i in l)
# put it back together into nested pairs
n = [[v1, v2] for v1, v2 in zip(f[0::2], f[1::2])]
print(n)

[[1, 2], [3, 5], [6, 7], [8, 9]]

## 62. List of Tuples Conversion:

In [5]:

test_list1 = [[1, 4, 5], [8, 7], [2]] 
test_list2 = [['g', 'f', 'g'], ['f', 'r'], ['u']] 

res = [(u, v) for x, y in zip(test_list1, test_list2) 
							for u, v in zip(x, y)] 

# print result 
print("The paired list of tuple is : " + str(res))

The paired list of tuple is : [(1, 'g'), (4, 'f'), (5, 'g'), (8, 'f'), (7, 'r'), (2, 'u')]

## 63. Matrix Transpose:

In [6]:
''' Program to transpose a matrix using list comprehension'''

X = [[12,7],
    [4 ,5],
    [3 ,8]]

result = [[X[j][i] for j in range(len(X))] for i in range(len(X[0]))]

for r in result:
   print(r)

[12, 4, 3]
[7, 5, 8]

## 64. Nested List Concatenation:

In [7]:
import numpy as np

lst = [[11, 33], [22, 55], [11], [77, 88]]

new = list(np.concatenate(lst))

print(new)

[11, 33, 22, 55, 11, 77, 88]

## 65. Count Even Numbers:

In [8]:
from collections import Counter

a = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Counting even and odd numbers using Counter
counts = Counter(['even' if num % 2 == 0 else 'odd' for num in a])

# Printing the results
print("Even numbers:", counts['even'])
print("Odd numbers:", counts['odd'])

Even numbers: 4
Odd numbers: 5

## 66. Maximum Element in Nested List:

In [9]:
def FindMaxLength(lst):
	maxList = max(lst, key = len)
	maxLength = max(map(len, lst))
	
	return maxList, maxLength

# Driver Code
lst = [['A'], ['A', 'B'], ['A', 'B', 'C'], ]
print(FindMaxLength(lst))

(['A', 'B', 'C'], 3)

## 67. Diagonal Sum of Matrix:

In [10]:
squared_matrix = [
    [2, 3, 4],
    [4, 3, 3],
    [3, 3, 4]
]


def primary_diagonal(matrix):
    sum = 0
    for i in range(len(matrix)):
        sum += matrix[i][i]
    return sum

def secondary_left_diagonal(matrix):
    sum = 0
    for i in range(len(matrix)):
        sum += matrix[i][len(matrix) - i - 1]
    return sum


print(primary_diagonal(squared_matrix))
print(secondary_left_diagonal(squared_matrix))

9
10

## 68. Nested List Element Search:

In [11]:
def findElements(lst1, lst2):
	return [lst1[i] for i in lst2]
			
# Driver code
lst1 = [10, 20, 30, 40, 50]
lst2 = [0, 2, 4]
print(findElements(lst1, lst2))

[10, 30, 50]

# Set Problems:


## 69. Duplicate Removal:

In [13]:
a = {1, 2, 1, 1, 3, 4, 3, 3, 5}

res = list(set(a))
print(res)

[1, 2, 3, 4, 5]

## 70. Set Intersection:

In [14]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y) 

print(z)

{'apple'}

## 71. Set Union:

In [16]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'google', 'banana', 'cherry', 'microsoft', 'apple'}

## 72. Set Difference:

In [17]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'banana', 'cherry'}

## 73. Set Symmetric Difference:

In [18]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'google', 'microsoft', 'banana', 'cherry'}

## 74. Set Operations:

In [20]:
a = {10, 50, 20}
b = {40, 60, 20}
c = {30, 70, 20}


z = a.intersection(b) 
print(z)

w = b.union(c)
print(w)


x = c.difference(a)

print(x)

{20}
{20, 70, 40, 60, 30}
{70, 30}

## 75. Set Subset Check:

In [21]:
A = {1, 2, 3}
B = {1, 2, 3, 4, 5}

# all items of A are present in B
print(A.issubset(B))

True

## 76. Set Superset Check:

In [22]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

## 77. Set Length Check:

In [23]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

## 76. Set Membership Test:

In [25]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Check if an element is in the set
if 3 in my_set:
    print("Element found in the set")
else:
    print("Element not found in the set")

Element found in the set

# Dictionary Problems:

## 77. Dictionary Manipulation:

In [26]:
# Create an empty dictionary 
student_dict = {} 
 
# Get the number of students 
n = int(input("Enter the number of students: ")) 
 
# Iterate over the range of students 
for i in range(n): 
    name = input("Enter name: ") 
    marks = float(input("Enter marks: ")) 
     
    # Add the student details to the dictionary 
    student_dict[roll_number] = {'name': name, 'marks': marks} 
 
# Display the names of students with marks above 75 
print("Students with marks above 75:") 
for roll_number, student in student_dict.items(): 
    if student['marks'] > 75: 
        print(student['name'])

Enter the number of students:  2
Enter roll number:  1
Enter name:  A
Enter marks:  30
Enter roll number:  2
Enter name:  B
Enter marks:  40

Students with marks above 75:

## 78. Dictionary Keys and Values:

In [27]:
# initialising _dictionary
ini_dict = {'a': 'akshat', 'b': 'bhuvan', 'c': 'chandan'}

# printing initial_dictionary
print("intial_dictionary", str(ini_dict))

# split dictionary into keys and values
keys = ini_dict.keys()
values = ini_dict.values()

# printing keys and values separately
print("keys : ", str(keys))
print("values : ", str(values))

intial_dictionary {'a': 'akshat', 'b': 'bhuvan', 'c': 'chandan'}
keys :  dict_keys(['a', 'b', 'c'])
values :  dict_values(['akshat', 'bhuvan', 'chandan'])

## 79. Dictionary Length:

In [28]:
print(len(ini_dict))

3

## 80. Dictionary Value Search:

In [30]:
# Initialize list
test_list = [
	{'Item': "A", 'Price': "20"},
	{'Item': "B", 'Price': "30"},
	{'Item': "C", 'Price': "40"}]

# Find dictionary matching value in list
res = None
for sub in test_list:
	if sub['Price'] == "20":
		res = sub
		break

# printing result
print("The filtered dictionary value is : " + str(res))

The filtered dictionary value is : {'Item': 'A', 'Price': '20'}

## 81. Dictionary Merging

In [31]:
d1 = {'x': 1, 'y': 2}
d2 = {'y': 3, 'z': 4}

d1.update(d2)
print(d1)

{'x': 1, 'y': 3, 'z': 4}

## 82. Dictionary Key Removal:

In [34]:
# Initializing dictionary
test_dict = {"A": 22, "B": 21, 
             "C": 21, "D": 21}

# Printing dictionary before removal
print("The dictionary before performing\
remove is : " + str(test_dict))

# Using items() + dict comprehension to remove a dict. pair
# removes Mani
new_dict = {key: val for key, 
            val in test_dict.items() if key != 'Mani'}

# Printing dictionary after removal
print("The dictionary after remove is : " + str(new_dict))

The dictionary before performingremove is : {'A': 22, 'B': 21, 'C': 21, 'D': 21}
The dictionary after remove is : {'A': 22, 'B': 21, 'C': 21, 'D': 21}

## 83. Dictionary Sorting:

In [36]:
d = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15}

myKeys = list(d.keys())
myKeys.sort()

# Sorted Dictionary
sd = {i: d[i] for i in myKeys}
print(sd)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15}

## 84. Dictionary Frequency Count:

In [37]:
s = "GeeksforGeeks"
freq = {}

for c in s:
    if c in freq:
        freq[c] += 1
    else:
        freq[c] = 1

print(freq)

{'G': 2, 'e': 4, 'k': 2, 's': 2, 'f': 1, 'o': 1, 'r': 1}

## 85. Dictionary Comprehension:

In [38]:

keys = ['a','b','c','d','e']
values = [1,2,3,4,5]  

# but this line shows dict comprehension here  
myDict = { k:v for (k,v) in zip(keys, values)}  


print (myDict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

## 86. Dictionary Key Check:

In [40]:
d = {'a': 100, 'b':200, 'c':300}

# check if "b" is none or not.
if d.get('b') == None:
  print("Not Found")
else:
  print("Found")

Found

# Nested Dictionary Problems:

## 87. Access Nested Dictionary:

In [42]:
nd = {
    "name": {
        "Sad": {
            "age": "23"
        }}}

# Accessing the value
color = nd["name"]["Sad"]["age"]
print(color)

23

## 88. Nested Dictionary Length:

In [2]:
d ={'Name':'Steve', 'Age':30, 'Designation':'Programmer'}

print(len(d))

3

## 89. Nested Dictionary Update:

In [3]:
# an employee record 
Employee = { 
	'Id-1': { 
		'name': 'Lisa', 
		'age': '29', 
		'salary':'25000'
			}, 
		'Id-2': { 
			'name': 'Steve', 
			'age': '25', 
			'salary':'20000'
				} 
			} 


# employee he needs to update 
empid = input("Employee id :") 

# which attribute / key to update 
attribute = input("Attribute to be updated :") 

# what value to update 
new_value = input("New value :") 

# updation of the dictionary 
Employee[empid][attribute]= new_value 


print(Employee)

Employee id : Id-1
Attribute to be updated : salary
New value : 30000

{'Id-1': {'name': 'Lisa', 'age': '29', 'Designation': 'Programmer', 'salary': '30000'}, 'Id-2': {'name': 'Steve', 'age': '25', 'Designation': 'HR'}}

## 90. Nested Dictionary Sorting:

In [4]:
nested_dict = {'a': {'key': 3}, 'b': {'key': 1}, 'c': {'key': 2}}

sorted_dict = dict(
    sorted(nested_dict.items(), key=lambda item: item[1]['key']))

print(sorted_dict)

{'b': {'key': 1}, 'c': {'key': 2}, 'a': {'key': 3}}

## 91. Nested Dictionary Key Search:

In [2]:

nd = {
    "fruit": {
        "apple": {
            "color": "red"
        }}}

# Accessing the value
color = nd["fruit"]["apple"]["color"]

print(color)

red

# Break & Continue: 
## 92. Prime Number Checker:

In [3]:
num = 11
# Negative numbers, 0 and 1 are not primes
if num > 1:
  
    # Iterate from 2 to n // 2
    for i in range(2, (num//2)+1):
      
        # If num is divisible by any number between
        # 2 and n / 2, it is not prime
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

11 is a prime number

## 93. Even Number Printer:

In [4]:
# Print even numbers from 1 to 20 
print("Even numbers:") 
for num in range(1, 21): 
    if num % 2 == 0: 
        print(num) 
 
# Print odd numbers from 1 to 20 
print("\nOdd numbers:") 
for num in range(1, 21): 
    if num % 2 != 0: 
        print(num)

Even numbers:
2
4
6
8
10
12
14
16
18
20

Odd numbers:
1
3
5
7
9
11
13
15
17
19

## 94. Password Validator:

In [6]:
# Password validation in Python
# using naive method

# Function to validate the password
def password_check(passwd):
	
	SpecialSym =['$', '@', '#', '%']
	val = True
	
	if len(passwd) < 6:
		print('length should be at least 6')
		val = False
		
	if len(passwd) > 20:
		print('length should be not be greater than 8')
		val = False
		
	if not any(char.isdigit() for char in passwd):
		print('Password should have at least one numeral')
		val = False
		
	if not any(char.isupper() for char in passwd):
		print('Password should have at least one uppercase letter')
		val = False
		
	if not any(char.islower() for char in passwd):
		print('Password should have at least one lowercase letter')
		val = False
		
	if not any(char in SpecialSym for char in passwd):
		print('Password should have at least one of the symbols $@#')
		val = False
	if val:
		return val

# Main method
def main():
	passwd = 'Geek12@'
	
	if (password_check(passwd)):
		print("Password is valid")
	else:
		print("Invalid Password !!")
		
# Driver Code	 
if __name__ == '__main__':
	main()

Password is valid

## 95. Divisible by 3 or 5:

In [11]:

n=50
for i in range(0,n):
# lcm of 3 and 5 is 15 
    if i%15==0:
        print(i,end=" ")

0 15 30 45

## 96. Positive Number Sum:

In [12]:
summ = 0
while True:
    a = int(input("enter a number: "))
    if a < 0:
        break
    summ = summ + a
    print(summ)

enter a number:  4

4

enter a number:  4

8

enter a number:  5

13

enter a number:  -5

## 97. Word Palindrome Checker:

In [13]:
# function which return reverse of a string

def isPalindrome(s):
    return s == s[::-1]


# Driver code
s = "malayalam"
ans = isPalindrome(s)

if ans:
    print("Yes")
else:
    print("No")

Yes

## 98. Odd Number Finder:

In [14]:
a = [10, 15, 23, 42, 37, 51, 62, 5]

# Using a for loop to print odd numbers
for i in a:
    if i % 2 != 0:
        print(i)

15
23
37
51
5

## 99. Number Guessing Game:

In [2]:
from random import randint
randomNum = 50 #randint(0,100)
print("Let's play a guessing game.  I'm thinking of a number between 0-100. Take a guess what it is") 
num = int(input()) 
if(num == randomNum):
    print("Wow, what fantastic luck!  You're right!")
while (randomNum > num):
    print('Its higher than that. Guess again!')
    num = int(input())
    while (num == randomNum):
        print("You got it!")
        break

while (randomNum < num):
    print('Its lower than that! Guess again!')
    num = int(input())
    while (num == randomNum):
        print("You got it!")
        break

Let's play a guessing game.  I'm thinking of a number between 0-100. Take a guess what it is

 70

Its lower than that! Guess again!

 50

You got it!

## 100. Vowel Counter:

In [3]:
string = "GeekforGeeks!"
vowels = "aeiouAEIOU"

count = sum(string.count(vowel) for vowel in vowels)
print(count)

5

## 101. Unique Characters:

In [5]:
S = "geeksforgeeks"
a = ""
for i in S:
	if i not in a:
		a += i
print(len(a))

7

# Functions Problems:
## 102. Factorial Calculator:

In [6]:
# Input: An integer number
num = 6

# Initialize the factorial variable to 1
factorial = 1

# Calculate the factorial using a for loop
for i in range(1, num + 1):
    factorial *= i

# Output: The factorial of the number
print(f"The factorial of {num} is {factorial}")

The factorial of 6 is 720

## 103. Palindrome Checker:

In [8]:
# function which return reverse of a string

def isPalindrome(s):
    return s == s[::-1]


# Driver code
s = "malayalam"
ans = isPalindrome(s)

if ans:
    print("True")
else:
    print("Fslse")

True

## 104. Even or Odd Checker:

In [9]:
def number_game(x,y):
    if x > y:
        return [n for n in range(y,x) if n%2==0]
    elif y==x:
        return []
    else:
        return [n for n in range(x,y) if n%2!=0]

## 105. List Sum Calculator:

In [9]:
# Define a function named 'sum' that takes a list of numbers as input
def sum(numbers):
    
    total = 0
    
   
    for x in numbers:
         total += x
    return total
print(sum((8, 2, 3, 0, 7)))

20

## 106. Greatest Common Divisor (GCD) Calculator:

In [10]:
def hcf(a, b):
    if(b == 0):
        return a
    else:
        return hcf(b, a % b)

a = 60
b = 48

# prints 12
print("The gcd of 60 and 48 is : ", end="")
print(hcf(60, 48))

The gcd of 60 and 48 is : 12

## 107. Leap Year Checker:

In [11]:
def is_leap(year):
    leap = False
    
    # Write your logic here
    if year%400==0 :
        leap = True
    elif year%4 == 0 and year%100 != 0:
        leap = True
    return leap

year = int(input())
print(is_leap(year))

 1998

False

# Nested Functions Problems:
## 108. Math Operations:

## 109. Greeting Generator:

In [30]:
import random
greeting = ['Hello']
hope = ["How are you today?"]
name = input("> What's your name? ")
value = random.choice(greeting)
value2 = random.choice(hope)
def greeting_generator():
    print(' ' + value + ', ' + name + '! ')
    print(' ' + value2)
greeting_generator()

> What's your name?  v

 Hello, v!
 How are you today?

## 110. Temperature Converter:

In [36]:
def temperature_converter(value, input_scale, output_scale):
    if input_scale == 'C':
        if output_scale == 'F':
            return value * 1.8 + 32
        elif output_scale == 'K':
            return value + 273.15
        else:
            return value
    elif input_scale == 'F':
        if output_scale == 'C':
            return (value - 32) / 1.8
        elif output_scale == 'K':
            return (value + 459.67) * 5 / 9
        else:
            return value
    elif input_scale == 'K':
        if output_scale == 'C':
            return value - 273.15
        elif output_scale == 'F':
            return value * 9 / 5 - 459.67
        else:
            return value
    else:
        return value

print(value)

11

# Recursion
## 111. Factorial Calculation:

In [37]:
# Factorial of a number using recursion

def recur_factorial(n):
   if n == 1:
       return n
   else:
       return n*recur_factorial(n-1)

num = 7

# check if the number is negative
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   print("The factorial of", num, "is", recur_factorial(num))

The factorial of 7 is 5040

## 112. Fibonacci Series:

In [38]:
# To find the n-th Fibonacci Number using formula
from math import sqrt 
# import square-root method from math library
def nthFib(n):
    res = (((1+sqrt(5))**n)-((1-sqrt(5)))**n)/(2**n*sqrt(5))
    # compute the n-th fibonacci number
    print(int(res),'is',str(n)+'th fibonacci number')
    # format and print the number
    
# driver code
nthFib(12)

144 is 12th fibonacci number

## 113. The sum of Digits:

In [1]:

def sum_of_digit( n ):
    if n == 0:
        return 0
    return (n % 10 + sum_of_digit(int(n / 10)))

# Driven code to check above
num = 12345
result = sum_of_digit(num)
print("Sum of digits in",num,"is", result)

Sum of digits in 12345 is 15

## 114. Binary Search:

In [2]:
# Python 3 program for recursive binary search.
# Modifications needed for the older Python 2 are found in comments.

# Returns index of x in arr if present, else -1
def binary_search(arr, low, high, x):

	# Check base case
	if high >= low:

		mid = (high + low) // 2

		# If element is present at the middle itself
		if arr[mid] == x:
			return mid

		# If element is smaller than mid, then it can only
		# be present in left subarray
		elif arr[mid] > x:
			return binary_search(arr, low, mid - 1, x)

		# Else the element can only be present in right subarray
		else:
			return binary_search(arr, mid + 1, high, x)

	else:
		# Element is not present in the array
		return -1

# Test array
arr = [ 2, 3, 4, 10, 40 ]
x = 10

# Function call
result = binary_search(arr, 0, len(arr)-1, x)

if result != -1:
	print("Element is present at index", str(result))
else:
	print("Element is not present in array")

Element is present at index 3

## 115. Power Calculation:

In [6]:
y=2
def power(x, y):
    if y == 1:
        return x

    else:
        return x * power(x, y - 1)
print(power(x, y))

100